/* Estilos específicos para el formulario dentro del modal */

.modal .form-control {
    background-color: #2b2b2b;
    color: #fff;
    border: 1px solid #444;
  }
  
  .modal .form-control:focus {
    background-color: #2b2b2b;
    color: #fff;
    border-color: #b65dff; /* violeta */
    box-shadow: 0 0 8px rgba(182, 93, 255, 0.6); /* violeta glow */
  }
  
  .modal .form-label {
    color: #b65dff;
  }
  
  .modal .btn-primary {
    background-color: #b65dff;
    border: none;
  }
  
  .modal .btn-primary:hover {
    background-color: #a246f0;
  }
  
  .modal .btn-secondary {
    background-color: #444;
    border: none;
  }
  
  .modal .btn-secondary:hover {
    background-color: #666;
  }
  
  .modal h2,
  .modal .modal-title {
    color: #b65dff;
  }
  
  /* Fondo del modal */
  .modal-content {
    background-color: #1f1f1f;
    box-shadow: 0 0 20px rgba(182, 93, 255, 0.3);
    border: none;
    border-radius: 15px;
    padding: 10px;
  }